* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: normal;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
}

.loading {
  width: 11rem;
  height: 11rem;
}

.title-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.title {
  font-family: Impact, Charcoal, sans-serif;
  background-image: url("/Users/carlosmedero/Documents/HENRY/PI/PI-Dogs-main/client/src/components/utils/picture_bank/staring-dog-3.png");
  font-size: 8vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
}

.upper-box {
  margin-right: 0.5%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.upper-box button {
  padding: 1rem;
  border: none;
  margin: 0.5rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  font-size: normal;
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  background-color: rgba(255, 255, 255, 3);
}

.upper-box span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.filter-list {
  font-weight: bold;
  padding: 1%;
  display: flex;
}

.upper-box select {
  padding: 1rem;
  border: none;
  margin: 0.5rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  font-size: normal;
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  transition: 0.5s;
}
.upper-box select:focus {
  outline: thin dotted;
}

.bg-container {
  filter: drop-shadow(3px 5px 10px #000);

  overflow: scroll;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  background-image: url("/Users/carlosmedero/Documents/HENRY/PI/PI-Dogs-main/client/src/components/utils/picture_bank/sand.jpg");
}

.temperament {
  width: 11rem;
}
