.bar-container {
  /* border: 3px solid red; */
  display: grid;
  grid-template-areas: "empty empty bar bar bar errors errors";
}

.search-form {
  grid-area: bar;
  width: 33vw;
}

.empty-l {
  grid-area: empty;

  width: 33vw;
}

.errors {
  max-width: 30%;
  grid-area: errors;
  width: 33vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: normal;
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
}

.input {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  border: none;
  border-radius: 5%;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.input:focus {
  background-color: rgba(255, 255, 255, 3);
}

.input:hover {
  background-color: rgba(255, 255, 255, 3);
}

.input-btn {
  font-size: normal;
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  padding-top: 2%;
  padding-bottom: 4.5%;
  padding-left: 3%;
  padding-right: 3%;
  max-height: 2.1rem;
}

textarea:focus,
input:focus {
  outline: none;
}
