.landing-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("/Users/carlosmedero/Documents/HENRY/PI/PI-Dogs-main/client/src/components/utils/picture_bank/frisbee-dog.jpeg");
}

.css-text-mask {
  font-size: 10vw;
  font-family: Impact, Charcoal, sans-serif;
  background-image: url("/Users/carlosmedero/Documents/HENRY/PI/PI-Dogs-main/client/src/components/utils/fur-bank/fur2.jpeg");

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain;
  padding-top: 3rem;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1500px) {
  .landing-container {
    background-image: url("/Users/carlosmedero/Documents/HENRY/PI/PI-Dogs-main/client/src/components/utils/picture_bank/grass2.jpeg");
  }
}

body {
  position: relative;
  min-height: 100%;
  background-color: white;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: green;
}

/* Styling the button */
.enter-btn {
  cursor: pointer;
  border: 1px solid;
  background-color: transparent;
  height: 4rem;
  width: 20rem;
  font-size: 1.5em;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  font-weight: bold;
  transition: box-shadow 0.5s;

  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.title-container {
  display: flex;
  justify-content: space-evenly;
}

.icon-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: flex-end;
}

.icon-one {
  padding-right: 3rem;
  padding-top: 9rem;
}

.icon-two {
  padding-right: 17rem;
  padding-top: 9rem;
}

.right-sided {
  margin-top: 9rem;
  display: flex;
}

.icon-image {
  mix-blend-mode: multiply;
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* adjustment */
  /* new */
  width: 100%;
  height: 18rem;
}

.enter-btn {
  border: thin;
}

.enter-btn:hover {
  box-shadow: 2px 9px 9px rgba(0, 0, 0, 0.4);
}
